 .home-container {
     position: relative;
     width: 100%;
 }

 .image-container {
     z-index: -1;
     width: 100%;
     height: 90dvh;
     position: absolute;
     top: 0;
     opacity: .2;
     background: url(../../assets/images/hero-image.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     filter: blur(0);
     /* Initial blur */
     transition: filter 0.8s ease;
     /* Smooth transition */
 }

 .image-container.scrolled {
     filter: blur(5px);
     opacity: .3;
     /* Increased blur on scroll */
 }

 .home {
     /* background: url(../../assets/images/hero-image.jpg); */
     /* display: grid;
     grid-template-columns: repeat(2, 1fr); */

     display: flex;
     padding: 0 5rem 0 5rem;
     justify-content: center;
     align-items: center;
     height: 100dvh;
     gap: 5rem;

     .left {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         .hero {
             display: flex;
             flex-direction: column;

             .hero-title {
                 font-size: 2.5rem;
                 margin-top: 5rem;
             }

             .description {
                 color: var(--color-green);
                 font-weight: var(--font-regular);
                 margin-top: 1.5rem;
             }

             .social-links ul {
                 display: flex;
                 gap: 1rem;
                 margin: 1rem;
             }
         }
     }

     .right {
         width: 300px;
         height: 300px;
     }

 }



 /* TOPGRAPHY */

 @media screen and (max-width: 992px) {}

 @media screen and (max-width: 768px) {

     .home {
         display: flex;
         grid-template-columns: repeat(1, 1fr);
         padding: 0 5rem 0 5rem;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         .left {
             order: 2;
             justify-content: center;
             align-items: center;

             .hero {
                 align-items: center;
             }

         }

         .right {
             display: none;
         }

     }
 }

 @media screen and (max-width: 350px) {

     .home {

         padding: 0 1rem 0 1rem;
         justify-content: center;
         align-items: center;

         .left {
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;

             .hero {


                 .hero-title {
                     font-size: 1.5rem;
                     margin-top: 5rem;
                 }

                 .description {
                     color: var(--color-green);
                     font-weight: var(--font-light);
                     margin-top: 1rem;
                     padding-left: 1rem;
                     padding-right: 1rem;
                 }

                 .social-links ul {
                     gap: 5px;
                     font-weight: var(--font-regular);
                 }
             }
         }
     }

 }