.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 3rem 0 3rem 0; */
    align-items: center;
    width: 100%;
    position: relative;

}
.source{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.left {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .source-image-container {

       margin-left: 5rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;

        img {
            border-radius: 5px;
             width: 100%;
            box-shadow: -2px 2px 5px var(--color-black);

        }
    }
}

.right {

    .top {
        position: relative;
        margin-bottom: 3rem;

        h3 {
            font-weight: var(--font-light);
        }

        h1 {
            font-weight: var(--font-bold);
            line-height: 1.1;
            margin: 1rem 0 1rem 0;
        }

        .icon-container {
            height: 60px;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .top::after {
        position: absolute;
        content: '';
        height: 8px;
        width: 100%;
        border-radius: 0 0 10px 10px;
        background: var(--color-green);
    }

    .bottom {

        p {
            font-weight: var(--font-light);
        }
    }
}

/* SOURCE CARD */

.source-card {
    /* display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    margin: 3rem 0 3rem 0;

    .card {
        border: 1.2px solid var(--color-title);
        height: 350px;
        width: 250px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--color-white);
        box-shadow: -2px 2px 3px var(--color-title);

        .image-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            img {
                width: 250px;
                height: 200px;
                border-radius: 5px 5px 0 0;
            }

            .icon {
                height: 50px;
                width: 50px;
                background: var(--color-white-two);
                border-radius: 50%;
                padding: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: -25px;
                box-shadow: -1px 1px 3px var(--color-green);

                img {
                    height: 40px;
                    width: 40px;
                }
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            height: 100px;
            padding: 1rem;
            align-items: center;



            .card-title {
                margin-top: 1rem;
            }

            p {
                color: var(--color-green);
                line-height: 1;
                font-size: var(--v);
                font-weight: var(--font-extra-light);
            }

        }


        button {
            padding: 5px;
            width: 120px;
            background: var(--color-green);
            border-radius: 10px;
            color: var(--color-white-two);

        }
    }
}


@media (max-width: 768px) {
    .section,.source-card {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem;
        padding: 1rem;
        justify-content: center;


    }
    .section{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 300px;
        justify-content: center;
        .left{
            width: 100%;
            display: flex;
            justify-content: center;
            
            .source-image-container{
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
            }
        }

    }
    .section .top{  
          
        h3{
            font-size: 1rem;
        }
        h1{
            margin: 10px 0 10px 0;
            font-size: 1.5rem;
        }
    }
    
}